#gradle
.gradle/
gradle/
gradlew
gradlew.bat

#forge
CREDITS-fml.txt
forge-*-changelog.txt
forge-*-mdk.zip
LICENSE-fml.txt
logs/
MinecraftForge-Credits.txt
MinecraftForge-License.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
tutorial.md
update-test

#eclipse
eclipse

#intellij
*.iml
*.ipr
*.iws
