#gradle
.gradle/
gradle/
gradlew
gradlew.bat

#forge
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
build/
forge-*-changelog.txt
forge-*-mdk.zip
logs/
tutorial.md
run/
update-test

#eclipse
eclipse

#intellij
*.iml
*.ipr
*.iws
